/* style.css - Custom styles for my-cv-portfolio */

/* Add your custom CSS below. Example: */

body {
  /* Example: override background */
  /* background-color: #fafafa; */
}

/* You can add more custom rules here. */
